<html>
<body>
    <h1> {{restaurant.name}} </h1>
    <a href="{{url_for('newMenuItem',restaurant_id = restaurant_id)}}"> Create New Menu </a>
    <!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% for items in menu %}
<div>
<p> {{items.name}}</p>
<br>
<p> {{items.price}} </p>
<br>
<p> {{items.description}} </p>
<br>
<a href="{{url_for('editMenuItem',restaurant_id = restaurant_id,
     menu_id = items.id)}}">Edit </a>
 <br />
<a href="{{url_for('deleteMenuItem',restaurant_id = restaurant_id,
    menu_id = items.id)}}">Delete </a>
</div>
<hr>

{% endfor %}


</body>
</html>